// colors
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// colors
$light-bg: #fffffa;
$dark-bg: #111111;
// gray
$dark-gray: #878e88;
$light-gray-3: #bdbdbd;
$light-gray-2: #e0e0e0;
$light-gray-bg: #f0f0fb;
$light-gray: #e0e0e0;
$light-font-color: $light-bg;
$dark-font-color: $dark-bg;
$dark-2: #414141;
// blue
$star-command-blue: #0e79b2;
$light-blue: #18a0fb;
$dark-blue: #032b43;
$light-blue-2: #5581f1;
$light-blue: #1153fc;
// purple
$purple: #7b61ff;
$light-purple: #b3a5ef;
$lighter-purple: #c165dd;
// skin-tone
$light-skin-tone: #f4d0b5;
$dark-skin-tone: #e4b693;
$skin-tone: #f0c8a5;
$hotPink: #f531b3;
// green
$green: #27ae60;
$light-green: 2afeb7;
// red
$light-red: #f24822;
$red: #db162f;
// yellow
$yellow-2: #ffcc00;
$yellow-1: #ffeb00;
// orange
$light-orange: #ffcb52;
$dark-orange: #ff7b02;
$orange-color: #fb6107;
// font families
$primary-font: "Poppins",
sans-serif;