.header {
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s linear;
    // navbar styles
    nav {
        position: relative;
        height: 100%;
        width: 100%;
        // logo container
        .logo {
            width: fit-content;
            width: fit-content;
            h1 {
                font-size: 1rem;
                &::first-letter {
                    color: $yellow-2;
                    font-size: 1.5rem;
                }
            }
        }
        // nav links container
        ul {
            height: 100%;
            flex: 4;
            li {
                margin: 0 1rem 0 0;
                a {
                    font-size: 0.8rem;
                    color: $light-font-color;
                }
            }
        }
        // call to action container
        .cta {
            height: 100%;
            width: 5rem;
            .cta-btn {
                background-color: $light-bg;
                border: 1px solid $light-font-color;
                // transition: all 0.3s linear;
                padding: 0.3rem 1rem;
            }
            .cta-btn:hover {
                border: 1px solid $light-bg;
            }
        }
    }
}

// header bg-color javascript
.header-onscroll {
    background-color: $dark;
}