.header {
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    // navbar styles
    nav {
        position: relative;
        height: 100%;
        width: 100%;
        // logo container
        .logo {
            width: fit-content;
            width: fit-content;
            h1 {
                font-size: 1rem;
                &::first-letter {
                    color: $yellow-2;
                    font-size: 1.5rem;
                }
            }
        }
        // nav links container
        ul {
            height: 100%;
            flex: 4;
            li {
                margin: 0 1rem 0 0;
                a {
                    font-size: 0.8rem;
                    color: $light-font-color;
                }
            }
        }
        // call to action container
        .cta {
            height: 100%;
            width: fit-content;
            .cta-btn {
                background-color: transparent;
                border: 1px solid $light-font-color;
                color: $light-font-color;
            }
            .cta-btn:hover {
                border: 1px solid $yellow-2;
            }
        }
    }
}

// showcase section
.showcase {
    position: relative;
    height: 90vh;
    width: 100%;
    background-color: transparent;
    // .showcase-bg {
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     clip-path: inset(0 0 0 50%);
    //     object-fit: cover;
    //     background-size: 100%;
    //     // background-color: rgba($dark-bg, 0.8);
    //     // background-blend-mode: overlay;
    //     // background-image: url("../photogallery/assets/backgrouns/jungle.jpg");
    //     // z-index: -1;
    // }
    .showcase-contents {
        position: relative;
        z-index: 100;
        height: 100%;
        width: 100%;
        top: 10vh;
        left: 0;
        flex-direction: column;
        .creator {
            position: absolute;
            z-index: 100;
            top: 50%;
            left: -1.5rem;
            width: fit-content;
            text-align: center;
            transform: rotate(-90deg);
            p {
                color: $light-font-color;
                font-size: 0.6rem;
            }
        }
        .s-contents-txt {
            height: fit-content;
            margin-bottom: 10rem;
            width: 39%;
            text-align: center;
            h1 {
                font-size: 4rem;
                font-weight: 600;
                line-height: 2;
                letter-spacing: 5px;
            }
            p {
                font-size: 0.6rem;
            }
        }
        .s-scroll-down {
            background-color: $dark;
            position: absolute;
            bottom: 2%;
            left: 46.5%;
            transform: translate(-2%, -46.5%);
            height: 6rem;
            width: 6rem;
            border: none;
            outline: none;
            a {
                height: 100%;
                width: 100%;
                i {
                    font-size: 1.5rem;
                    display: block;
                    justify-self: center;
                    align-self: center;
                    color: $light-font-color;
                }
            }
        }
    }
}

.showcase::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($dark-bg, 0.5);
    background-blend-mode: overlay;
    background-image: url("../photogallery/assets/backgrouns/road.jpg");
    clip-path: inset(0 0 0 50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $dark;
    clip-path: inset(0 50% 0 0);
}