.testimonial {
    min-height: 100vh;
    width: 100%;
    background-color: rgba($dark, 0.3);
    .container-2 {
        height: 100%;
        flex-direction: column;
        padding: 5rem 3rem 3rem 3rem;
        color: $dark-font-color;
        .testimonial-header {
            flex: 1;
            flex-direction: column;
            @include breakpoint-down(small) {
                align-items: flex-start;
            }
            p {
                font-size: 0.5rem;
                margin: 0 0 1rem 0;
                @include breakpoint-down(small) {
                    font-size: 0.8rem;
                    text-align: left;
                }
            }
        }
        .testimonial-content {
            flex: 3;
            margin: 2rem 0 0 0;
            column-gap: 3rem;
            @include breakpoint-down(small) {
                flex-direction: column;
                row-gap: 3rem;
                margin: 3rem 0 0 0;
            }
            .testimonial-box {
                flex-direction: column;
                justify-content: space-evenly;
                padding: 1rem;
                background-color: transparent;
                box-shadow: 20px 20px 60px rgba($dark, 0.3), -20px -20px 60px rgba(#fff, 0.5);
                i {
                    display: block;
                    margin-bottom: 1rem;
                    color: $yellow-2;
                }
                img {
                    height: 4rem;
                    width: 4rem;
                    border-radius: 100%;
                    margin: 1.5rem 0 1rem 0;
                }
            }
        }
        .testimomial-cta {
            padding-top: 3rem;
            a {
                display: inline-block;
                overflow: hidden;
            }
        }
    }
}