@import "variables";
@import "utility";
@import "colors";
@import "header";
@import "humberger";
@import "showcase";
@import "mixins";
// STYLES STARTS HERE
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    font-size: 100%;
    line-height: 1.3;
    color: $light-font-color;
    background-color: $light-bg;
    font-family: "Oxanium", cursive;
}